@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.title {
  color: red;
}
body {
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #2196f3;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #2196f3;
}
.post {
  max-width: 800px;
  margin: auto;
}

.picture {
  height: 200px;
  width: 200px;
}
form {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 500px;
  margin-top: 32px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
label {
  font-size: 32px;
  margin-bottom: 10px;
}
a {
  background-color: rgb(0, 119, 255);
  color: white;
  display: block;
  margin-top: 45px;
  width: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s;
}
.post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a:hover {
  background-color: rgb(224, 12, 12);
}
.author {
    color: gray;
    text-align: right;
}
.center{
    color: gray;
    text-align: right;
}