<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Добавить пост</title>
    <link rel="stylesheet" href="../static/add.css" />
  </head>
  <body>

    <h1>Добавить новый пост</h1>
    <form action="/add" method="post">
      <label for="title">Заголовок:</label>
      <input type="text" id="title" name="title" required />
      <br />
      <label for="content">Содержание:</label>
      <textarea id="content" name="content" required></textarea>
      <br />
      <button type="submit">Добавить пост</button>
    </form>
  </body>
</html>
