<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required />
        <label>Password</label>
        <input type="text" name="password" required />
        <button type="submit">Login</button>
        {% if message %}
        <p class="message">{{message}}</p>
        {% endif %}
      </form>
    </div>
  </body>
</html>
